{% load crispy_forms_tags %}
<div class="modal-dialog modal-lg">
    <form class="modal-content" id="addContactForm">
        {% csrf_token %}
        <div class="modal-header">
            <h5 class="modal-title" id="myLargeModalLabel">Contacts</h5>

            <button type="button" class="close" aria-label="Close" onclick="$('#bd-example-modal-lg').modal('hide')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table><!--Very temporary-->
                <tr>
                    <th>Existing Contacts</th>
                    <th></th>
                </tr>
                {% for i in invited2 %}
                <tr>
                    <td>{{i.username}}</td>
                    <td>
                        <button onclick="acceptContact({{i.pk}})">Accept</button>
                        <button onclick="deleteContact({{i.pk}})">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                {% for i in invited1 %}
                <tr>
                    <td>{{i.username}}</td>
                    <td>
                        <div>Invite sent!</div>
                        <button onclick="deleteContact({{i.pk}})">Delete</button>
                    </td>
                </tr>
                {% endfor %}
                {% for contact in contacts %}
                <tr>
                    <td>{{contact.username}}</td>
                    <td>
                        {% if contact in shared_with_me %}
                            {% for v in viewed %}
                                {% if v.0 == contact.pk %}
                                    {% if v.1 == "viewed" %}
                                        <button onclick="viewCalendarToggle({{ contact.pk }})">Don't view this person's calendar</button>
                                    {% else %}
                                        <button onclick="viewCalendarToggle({{ contact.pk }})">View this person's calendar</button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if contact in shared_with_them %}
                            <button onclick="shareCalendarToggle({{ contact.pk }})">Un-share Whole Calendar</button>
                        {% else %}
                            <button onclick="shareCalendarToggle({{ contact.pk }})">Share Whole Calendar</button>
                        {% endif %}
                        <button onclick="deleteContact({{contact.pk}})">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <fieldset class="form-group" id="addContactFormContainer">
                {{ form|crispy }}
                <button type="button" class="btn btn-primary" id="addContactButton">Add Contact</button>
            </fieldset>
        </div>
        <div class="modal-footer form-group">

        </div>
    </form>
</div>