<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group Calendar</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    {% load static %}
    {% load crispy_forms_tags %}
    <link href="{% static 'FullCalendar/packages/core/main.css' %}" rel='stylesheet' />
    <link href="{% static 'FullCalendar/packages/daygrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'FullCalendar/packages/timegrid/main.css' %}" rel='stylesheet' />
    <link href="{% static 'FullCalendar/packages/list/main.css' %}" rel='stylesheet' />
    <script src="{% static 'FullCalendar/packages/core/main.js' %}"></script>
    <script src="{% static 'FullCalendar/packages/interaction/main.js' %}"></script>
    <script src="{% static 'FullCalendar/packages/daygrid/main.js' %}"></script>
    <script src="{% static 'FullCalendar/packages/timegrid/main.js' %}"></script>
    <script src="{% static 'FullCalendar/packages/list/main.js' %}"></script>
    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
          plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
          header: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
          },
          defaultDate: '{% now 'Y\-m\-d' %}',
          navLinks: true, // can click day/week names to navigate views
          businessHours: false, // display business hours
          editable: false,
          events: []
        });

        calendar.render();
      });

      $("#registerButton").click(function(event) {
        event.preventDefault()
      });

    </script>
</head>
<body>
    <div class="jumbotron">

        <div class="container">
            <nav class="navbar">
                <h1 class="nav-brand">Brand</h1>
                <div class="nav-item">Item</div>
                <div class="nav-item">Item</div>
                <div class="nav-item">
                    {% if user.is_authenticated %}
                    <p>Welcome, {{ user.username }}!</p>
                    <a href="{% url 'logout' %}"> Log out</a>
                    {% else %}
                    <button type="button" id="register-modal-open-button" class="btn btn-primary">Register</button>
                    {% endif%}
                </div>
            </nav>
        </div>
        <div class="container d-flex justify-content-center">
            <h1>My Calendar App</h1>
        </div>
    </div>
    <div class="container">
        <div ID="calendar"></div>
    </div>

    <div class="modal fade" id="bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">

    </div>
    <script>
        $("#register-modal-open-button").click(function() {
            jQuery.get("{% url 'register' %}", function(data) {
                $("#bd-example-modal-lg").html(data);
                $("#bd-example-modal-lg").modal("show");
                $("#registerButton").click(registerButtonHandler);
                $("#goToSignInLink").click(goToSignInLinkHandler);
            });
        });

        function signInButtonHandler() {
            geturl = $.ajax({
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: new FormData($("#signInForm").get(0)),
                enctype: 'multipart/form-data',
                url: '{% url 'login' %}',
                statusCode:{
                    200: function(response2, txtStatus, request) {
                        $("#bd-example-modal-lg").html(response2);
                        $("#signInButton").click(signInButtonHandler);
                        $("#goToSignInLink").click(goToSignInLinkHandler);
                    },
                    302: function(response2) {
                        window.location.replace(window.location.href)
                    }
                }
            });
        }

        function goToSignInLinkHandler(event) {
            event.preventDefault();
            $.ajax({
                method: 'get',
                processData: false,
                contentType: false,
                cache: false,
                data: {},
                url: '{% url 'login' %}',
                statusCode:{
                    200: function(response) {
                        $("#bd-example-modal-lg").html(response);
                        $("#signInButton").click(signInButtonHandler);
                        $("#goToRegisterLink").click(goToRegisterLinkHandler);
                    },
                    302: function(response) {
                        window.location.replace(window.location.href)
                    }
                }
            });
        }

        function goToRegisterLinkHandler(event) {
            event.preventDefault();
            $.ajax({
                method: 'get',
                processData: false,
                contentType: false,
                cache: false,
                data: {},
                url: '{% url 'register' %}',
                statusCode:{
                    200: function(response) {
                        $("#bd-example-modal-lg").html(response);
                        $("#registerButton").click(registerButtonHandler);
                        $("#goToSignInLink").click(goToSignInLinkHandler);
                    },
                    302: function(response) {
                        window.location.replace(window.location.href)
                    }
                }
            });
        }

        function registerButtonHandler() {
            $.ajax({
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: new FormData($("#registerForm").get(0)),
                enctype: 'multipart/form-data',
                url: '{% url 'register' %}',
                statusCode:{
                    200: function(response, txtStatus, request) {
                        $("#bd-example-modal-lg").html(response);
                        $("#registerButton").click(registerButtonHandler);
                    },
                    302: function(response, txtStatus, request) {
                        window.location.replace(window.location.href)
                    }
                }
            });
        }
    </script>
</body>
</html>